body{
    background-color: #E0E0E0;
    font-family: sans-serif;
}
.acc-info{
    margin: 100px;
    height: 60px;
    width: 60px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: relative;
    padding: 15px;
    border: 2px solid gr;
    
}
.wallet{
    padding: 20px;
    position: absolute;
}

.product-apple{
  margin: 80px;
  height: 255px;
  width: 255px;
  background-color: #FF6633;
  color: #FFFFFF;
  border-radius: 10px;
}
#apple-ico{
    padding-left: 100px;
    padding-top:  60px;
    padding-bottom: 20px;
}
p{
    margin-left: 100px;
    margin-top: 0;
}
.invest-info{
    display: inline-block;
}
.services-txt{
    margin-top: 100px;
    margin-left: -100px;
}
