*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F7F8FA;
    padding: 20px;
}
:root{
    --w-20: 20px;
    --w-18: 18px;
    --w-16: 16px;
    --h-20: 20px;
    --h-12: 12px;
    --font-size-sm12: 12px;
    --font-size-sm13: 13px;
    --font-size-sm14: 14px;
    --font-size-md18: 18px;
    --font-size-xl24: 24px;
    --font-size-xxl30: 30px;
    --font-size-xxl36: 36px;
    --font-weight-md: 500;
    --font-weight-lg: 700;
    --font-weight-xl: 900;
    --grey-blue: #4D5E80;
    --gerey-blue-50: #4D5E80;
    --grey-blue-60: #6B7A99;
    --grey-blue-70: #7D8FB3;
    --grey-blue-80: #ADB8CC;
    --grey-blue-95: #F7F8FA;
    --purple: #8833FF;
    --white: #FFFFFF;
}
.d-flex{
    display: flex;
}
.align-item{
    align-items: center;
}
.ico-18-12{
    width: var(--w-18);
    height: var(--h-12);
}
.btn-btn-window{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--white);
    border-width: 0;
}
.header{
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-md18);
    color: var(--gerey-blue-50);
    padding: 15px;
    
}
.nav-items{
    list-style: none;
    padding: 15px;
}
.nav-ref{
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-sm13);
    color: var(--grey-blue-70);
    text-decoration: none;
}
.ico-20-20{
    width: var(--w-20);
    height: var(--h-20);
}
.user-name{
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-sm13);
    padding: 15px;
    color: var(--grey-blue-60);
}
.ico-16-20{
    width: var(--w-16);
    height: --(--h-20);
}
.ico-sm{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--white);
    margin: 5px;
    border-width: 0;    
}
.nav-links{
    margin-right: auto;
}
.ico-circle{
    padding: 15px;
    background-color: var(--white);
    border-radius: 50%;
}
.canvas-prop{
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-xl24);
    color: var(--gerey-blue-50);
    padding-top: 20px;
    padding-bottom: 20px;
}
.canvas-amt{
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-xl24);
    color: var(--gerey-blue-50);
}
.canvas-txt{
    color: var(--grey-blue-80);
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-sm12);
}
.offcanvas{
    margin-right: auto;
    margin-bottom: auto;
}
.aside-canvas-txt{
    color: var(--grey-blue-60);
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-sm12);
}
.aside-canvas-live{
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-sm12);
    color: var(--purple);
    padding: 5px 10px;
    background: rgba(136, 51, 255, 0.1);
    border-radius: 5px;
}
.aside-canvas-subtxt{
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-sm12);
    color: var(--grey-blue-60);
    padding-left: 10px;
}
.aside-canvas{
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-blue-95);
    border: 2px solid #EDEFF2;
    border-radius: 10px;
}
.aside-canvas-section{
    padding-right: 20px;
    padding-top: 10px;
}
.card-header-txt{
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-xl24);
    color: var(--white);
}

