* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* helper classes: starts here */

/* helper classes: ends here */
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.h-100 {
    height: 100%;
}

/* variables: starts here */
:root {
    --primary-blue: rgb(39, 101, 216);
    --border-white: #ffffff;
    --close-btn: #207ae8;
}

/* variables: ends here */

/* styling: starts here */
.sidebar {
    width: 100px;
    height: 100vh;
    background-color: var(--primary-blue);
}

.btn-primary {
    margin: 8px;
    border: 1px solid var(--border-white);
    padding: 10px 20px;
    border-radius: 8px;
}

main {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

iframe {
    height: 100vh;
    width: 400px;
    transition: ease-in-out;
}

.container-iframe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.close-btn {
    margin: 8px;
    border: 1px solid var(--border-white);
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--close-btn);
    color: var(--border-white);
}

/* styling: ends here */