body{
    background-color: #E0E0E0;
}
.acc-info{
    margin: 60px;
    height: 60px;
    width: 60px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: relative;
    padding: 15px;
    
}
.wallet{
    padding: 20px;
    position: absolute;
}

.product-apple{
  margin: 40px;
  height: 255px;
  width: 255px;
  background-color: #FF6633;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 60px;
  position: absolute;
}
p{
    margin-left: 100px;
    margin-top: 0;
}
.invest-info{
    display: inline-block;
}