*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E0E0E0;
}
:root{
    --bg-circle-color: #FFFFFF;
    --bg-circle-padding: 15px;
    --link-color: #7D8FB3;
    --user-color: #4D5E80;
    --link-weight: 700;
    --link-font-size: 13px;
}

.nav-button{
    display: inline-block;
    border-radius: 50%;
    padding: var(--bg-circle-padding);
    background-color: var(--bg-circle-color);
}
.nav-item{
    text-decoration: none;
    font-weight: var(--link-weight);
    font-size: var(--link-font-size);
    padding: 15px;
    color: var(--link-color);
}
.nav-item:hover{
    background-color: var(--bg-circle-color);
    padding: 10px;
}
.inline-block{
    display: inline-block;
}
.nav-float-right{
    float: right;
}
nav{
    margin: 15px;
}
.nav-logo, .nav-username{
    color: var(--user-color);
    font-weight: var(--link-weight);
    font-size: 18px;
    padding: 10px;
}

.user-details{
    padding: var(--bg-circle-padding);
}
